APP_NAME="SPMB SMA Al Furqon"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://seleksi.smaafbs.sch.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=sman5479_spmb
DB_USERNAME=sman5479_spmb
DB_PASSWORD=ISI_PASSWORD_DATABASE_CPANEL

BROADCAST_CONNECTION=log
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.smaafbs.sch.id
SESSION_SECURE_COOKIE=true

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@smaafbs.sch.id"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
